.container {
  width: 100vw;
  position: relative;
  height: 50vh;
  overflow-x: hidden;
}

.wave {
  height: calc(var(--height, 0) * 1%);
  left: 0;
  bottom: -1px;
  position: absolute;
  width: calc(var(--width, 200) * 1%);
  animation: wave calc(var(--speed, 0) * 1s) infinite linear;
}

.wave path {
  fill: hsla(var(--hue), calc(var(--saturation, 0) * 1%), calc(var(--lightness, 0) * 1%), var(--opacity));
}

@keyframes wave {
  to {
    transform: translate(-50%, 0);
  }
}